---
import Logo from './Logo.astro'
import Themetoggle from './Themetoggle.astro'
---

<header>
  <div class="fb items-center">
    <Logo />
    <Themetoggle />
  </div>
  <div class="fi mt-2">
    <a href="https://geminiprochat.com" class="gpt-title">Gemini Pro~</a>
    <a href="https://geminiprochat.com" class="gpt-subtitle">大模型~</a>
  </div>
  <p mt-1 op-60>
    基于
    <a href="https://blog.geminiprochat.com/posts/what-is-gemini"> Gemini Pro API 进行开发的聊天前端！</a>
    <a href="https://qingfengnb.cn" class="font-bold">轻风团队帕鲁为您汉化~</a>
  </p>
</header>
